<!-- Header with Social Links -->
<header class="social-links-top">
  <a href="https://www.linkedin.com/in/curtisvoutd/" target="_blank">
    <img src="assets/linkedin.png" alt="LinkedIn" class="social-icon" />
  </a>
  <a href="https://github.com/curtisxvo" target="_blank">
    <img src="assets/github.png" alt="GitHub" class="social-icon" />
  </a>
  <a href="mailto:vo.curtis20@gmail.com" title="Send email to Curtis">
    <img src="assets/mail.png" alt="Email" class="social-icon" />
  </a>
</header>
